header {
  margin-top: 1rem;
  @media screen and(min-width:25rem) {
    margin-top: 2rem;
  }
  @media screen and(min-width:50rem) {
    margin-top: 3rem;
  }

  .logo {
    position: relative;
    z-index: 50;
  }

  .bgHelper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and(min-width:50rem) {
      justify-content: flex-start;
    }
  }

  #btnToggleMobileMenu {
    position: relative;
    z-index: 50;
    
    .line {
      transition: all 0.3s ease-in-out;
    }
    
    &:hover,
    &:focus {
      .line {
        &:nth-child(1) {
          transform: rotate(-45deg) translateX(-4px);
        }
        &:nth-child(2) {
          transform: translate(3px);
        }
        &:nth-child(3) {
          transform: rotate(45deg) translateX(-4px);
        }
      }
    }

    &.menuOpen {
      &:hover,
      &:focus {
        .line {
          &:nth-child(1) {
            transform: rotate(45deg) translateX(4px);
          }
          &:nth-child(2) {
            transform: translate(-3px);
          }
          &:nth-child(3) {
            transform: rotate(-45deg) translateX(4px);
          }
        }
      }
    }
  }
  
  #menuBlock {
    display: none;
    position: absolute;
    padding: 2.5rem 1.5rem;
    top: 4rem;
    left: 1rem;
    right: 1rem;
    border-radius: 8px;
    background-color: $darkViolet;
    text-align: center;
    transform: translateX(92vw);
    transition: all 0.3s ease-in-out;
    z-index: 50;

    &.open{
      transform: translateX(0vw);
    }

    &.displayBlock{
      display: block;

    }
    
    #navBlock {
      border-bottom: 1px solid $grayishViolet;
    }

    li {
      padding-bottom: 2rem;
    }
    a {
      font-size: 1.2rem;
      font-weight: 700;
      color: white;

      &:active {
        color: red;
      }
    }

    button {
      display: block;
      width: 100%;
      height: 2.5rem;
      margin-top: 2rem;
      border: none;
      font-size: 1.2rem;
      font-weight: 700;
      color: white;

      &.btnCtaLogin {
        background-color: transparent;
      }

      &.btnCtaSignUp {
        border-radius: 2rem;
        background-color: $cyan;
      }

      &:active {
        color: red;
      }
    }
    @media screen and (min-width: 25rem) {
      left: 2rem;
      right: 2rem;
    }

    @media screen and (min-width: 30rem) {
      left: 3rem;
      right: 3rem;
    }

    @media screen and (min-width: 40rem) {
      left: 4rem;
      right: 4rem;
    }

    @media screen and(min-width:50rem) {
      display: flex;
      justify-content: space-between;
      position: initial;
      background-color: white;
      padding: 0;
      width: 100%;
      align-items: center;
      transform: translateX(0vw);


      #navBlock {
        border-bottom: none;
      }

      ul {
        display: flex;
      }

      li {
        margin-left: 1rem;
        padding-bottom: 0;

        &:first-child {
          margin-left: 2rem;
        }
      }

      a {
        @include headerLinkEffects;
        font-size: 0.8rem;
        color: $grayishViolet;
        transition: color 0.2s ease-in-out;
      }

      .btnBlock {
        display: flex;
      }

      button {
        width: 100px;
        margin-top: 0;
        font-size: 0.8rem;
        color: $grayishViolet;
      }

      .btnCtaLogin {
        @include headerLinkEffects;
      }

      .btnCtaSignUp {
        @include btnHoverEffects;
        color: white;
      }
    }
  }

  #btnToggleMobileMenu {
    position: relative;
    width: 25px;
    height: 25px;
    border: none;
    background: none;

    .line {
      position: absolute;
      height: 4px;
      left: 0;
      right: 0;
      background-color: $grayishViolet;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2) {
        top: 11px;
      }

      &:nth-child(3) {
        bottom: 0px;
      }
    }

    &:hover,
    &:focus {
      cursor: pointer;
    }
    @media screen and(min-width:50rem) {
      display: none;
    }
  }
}
